@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PingFang';
    src: url('/font/pingfang0.TTF');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'PingFang', "Microsoft YaHei";
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: #f3f3f3f3;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}

:root {
    --hand-write-font: 'Nevermind hand'
}

body {
    font-family: var(--hand-write-font);
}

input {
    outline: none;
    border-bottom: 2px black;
}

.typing-animation {
    animation: typing 1000ms infinite;
}

@keyframes typing {
    0%, 100% {
        border-right: 2px solid;
    }
    50% {
        border-right: 2px solid rgba(0, 0, 0, 0);
    }
}