@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: #f3f3f3f3;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}

:root {
    --hand-write-font: 'Nevermind hand'
}

body {
    font-family: var(--hand-write-font);
}

input {
    outline: none;
    border-bottom: 2px black;
}

